This is the template

With placeholders: {{{ config.Foo }}}, {{{ config.Bar }}} and {{{ config.BazIsOptional.Value }}}
This will not raise an error: {{{ config.DoesNotExist }}}

Database:
  ConnectionString: {{{ config.Db.ConnectionString }}}
  User: {{{ config.Db.User }}}
  Port: {{{ config.Db.PortIsOptional.Value }}}

And some more contents
