This is the template

With placeholders: {{ Foo }}, {{ Bar }} and {{ BazIsOptional }}
This will not raise an error: {{ DoesNotExist }}

Database:
  ConnectionString: {{ Db.ConnectionString }}
  User: {{ Db.User }}
  Port: {{ Db.PortIsOptional }}

And some more contents
